@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
    background-color: ghostwhite !important;
}

.layout {
    background-color: white !important;
}

#logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

#content {
    padding: 0px 50px;
}

#container {
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 0px;
    padding: 24px;
    height: 75vh;
}

.table-operations {
    margin-bottom: 16px;
}
  
.table-operations > button {
    margin-right: 8px;
}

.ant-pagination-item-link .anticon {
    margin-top: 7;
}

#footer {
    background-color: #001529;
    color: white
}